body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 100%;
}

.wrapper {
  background-image: url("../images/background.jpeg");
  background-size: 100%;
}

.wrapper:after {
  content: '';
  display: block;
  clear: both;
}

.header-logo {
  margin-left: 20px;
}

.header-block {
  height: 110px;
  width: 30%;
  margin: 40px 20px 0;
}

.header-block h4 {
  margin: 0;
}

.header-block a {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15px
}

.social-links {
  margin-top: 10px;
}

.column-1-2 {
  float: left;
  width: 50%;
}


