body {
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 0.2fr 0.3fr 0.3fr 0.2fr;
  height: 150px;
  width: 90%;
  margin: auto;
}

.wrapper:after {
  content: '';
  display: block;
  clear: both;
}

.header-logo {
  margin-left: 20px;
  height: 150px;  
}

.header-block {
  height: 110px;
  margin-top: 40px;
}

.header-block h4 {
  margin: 0;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
}

.visit-me {
  width: 80%;
  height: auto; 
  overflow: hidden;
  margin: auto;
}

.column-1-2 {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}

.column-1-3 {
  text-align: center;
  margin: 0 auto;
}

.features-list {
  margin-top: 30px
}

.user-input {
  display: grid;
}

.portfolio {
  margin: auto;
  width: 90%;
}

.portfolio h3 {
  width: 80%;
  margin: 20px auto;
}

.portfolio p {
  width: 70%;
  margin: 20px auto;
}

.images-in-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.images-in-grid img {
  width: 300px;
  padding: 5px;
}

.feedback {
  width: 80%;
  margin: auto;
}

.map ymaps {
  margin: 0 auto;
}

.feedback-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.customer-photo {
  width: 150px;
}

.footer {
  width: 50%;
  height: 180px;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .images-in-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .header-logo {
    margin-left: 0;
    height: 100px;
  }

  .header-block {
    margin-top:20px;
  }

  .social-links a {
    margin-left: 5px;
  }

  .title-large {
    font-size: 1em;
  }

  .ordinary {
    font-size: 0.7em;
  }

  .features-list {
    padding-left: 0;
  }

  .text-center {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 670px) {
  .images-in-grid img {
      width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .text-center {
    font-size: 0.6em;
  }

  .header {
    width: 95%;
  }

  .visit-me {
    width: 95%;
  }

  .portfolio {
    width: 95%;
  }

  .features-list li {
    font-size: 0.7em;
  }

  .feedback {
    width: 95%;
  }

  .footer {
    width: 95%;
  }

  .footer h3 {
    font-size: 1em;
  }

  .footer h4 {
    font-size: 0.8em;
  }

  .header-logo {
    height: 80px;
  }

  .customer-photo {
    width: 100px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    grid-template-columns: 0.2fr 0.3fr 0.3fr 0.3fr;
    height: 100px;
  }

  .header-block {
    height: 80px;
  }

  .features-list li {
    font-size: 0.6em;
  }
  
  .feedback-grid {
    display: block;
  }
  
  .images-in-grid img {
    width: 150px;
  }
}

@media screen and (max-width: 320px) {

}
